body {
  padding-left: 165px;
  padding-right: 164.51px;
}
.project-image {
  width: 540px;
  height: 400px;
}
.name {
  display: flex;
  justify-content: center;
  width: 172px;
  height: 32px;
  margin-right: 165px;
  margin-top: 39px;
}
.my-name {
  position: absolute;
  font-size: 32px;
  font-weight: bold;
  top: 39px;
  left: 165px;
}

.highlight-name {
  border-bottom: 3px solid green;
}

.bio {
  width: 706px;
  height: 303px;
  justify-content: center;
  align-content: center;
  font-family: "Space Grotesk Bold";
  background-color: gray;
  font-size: 88px;
  margin-top: 209.17px;
  position: relative; /* Add this */
  z-index: 2;
}
.bio p {
  margin: 0; /* remove default margin */
}
.description {
  font-size: 18px;
  font-weight: normal;
  font-family: "Space Grotesk Bold";
  margin-bottom: 43px;
}
.bio-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 43px;
}
.profile-image {
  position: absolute;
  top: 0;
  width: 445px;
  height: 720px;
  margin-left: 665px;
  z-index: 1;
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
}

.skills-list li {
  display: flex;
  flex-direction: column;
}
